<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ofiyat Med - О нас</title>
    <meta name="description" content="Ofiyat Med - О нас">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/owl-carousel.min.css">
    <link rel="stylesheet" href="/vendor/venobox/venobox.css">
    <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <div class="preloader"></div>
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-level-up-alt"></i>
    </button>
    <%- include("./partials/header.ejs") %>
        <div class="breadcrumbs-title-area">
            <div class="container">
                <div class="breadcrumbs-title-content wow animate__animated animate__fadeInUp">
                    <h2>О нас</h2>
                    <ul>
                        <li><a href="/">Главная Страница</a></li>
                        <li>О нас</li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="about-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-12 wow animate__animated animate__fadeInUp">
                        <div class="about-images mb-5 mb-md-0">
                            <img src="/images/about/1.jpg" alt="">
                            <img src="/images/about/2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-12 ps-xl-5 wow animate__animated animate__fadeInUp">
                        <div class="section-title-two">
                            <h2>О Нашей Клинике</h2>
                            <p>Клиника Ofiyat med начала свою деятельность с 1 октября 2022 года. В клинике Ofiyat Med
                                работают более 20 врачей с открытой квалификацией, и на сегодняшний день эти
                                квалифицированные врачи выполнили более 1000 успешных операций.В основе деятельности
                                нашего центра лежат доверительные отношения с партнерами, взаимоуважение, лояльность, а
                                главное-забота о пациентах и гостях медицинского центра. Квалифицированный персонал
                                нашего медицинского центра с удовольствием выполнит все ваши требования и предложения.
                                Основная цель нашего веб-сайта-предоставить пациентам и партнерам подробную информацию
                                обо всех существующих перспективных операциях нашего медицинского центра, а также
                                предоставить онлайн-услуги для удобства пациентов.</p>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="about-section-info">
                                    <i class="fal fa-file-certificate"></i>
                                    <h3>Опыт Врача</h3>
                                    <p>Большой опыт, предоставление необычайной помощи и результатов пациенту.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <a href="tel:<%=info.phone%>">
                                    <div class="about-section-info">
                                        <i class="fal fa-user-headset"></i>
                                        <h3>Быстрая Поддержка</h3>
                                        <p>Скорая помощь доступна для Вас круглосуточно.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <a href="/ru/contact" class="button-one mt-20">Запись На Прием</a>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section id="counter-area" class="section-padding"
            style="background-image: url(/images/bg/1.jpg); background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class=" row text-center">
                    <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeInUp">
                        <div class="counter-items">
                            <div class="counter-icon">
                                <i class="fal fa-scalpel" style="color: #fff;"></i>
                            </div>
                            <div class="number-number text-center">
                                <span class="counter">1000</span><span class="h2">+</span>
                            </div>
                            <p class="number-desc">Операции</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeInUp">
                        <div class="counter-items">
                            <div class="counter-icon">
                                <i class="fal fa-user-nurse" style="color: #fff;"></i>
                            </div>
                            <div class="number-number text-center">
                                <span class="counter">20</span><span class="h2">+</span>
                            </div>
                            <p class="number-desc">Врачи</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeInUp">
                        <div class="counter-items">
                            <div class="counter-icon">
                                <i class="fal fa-award" style="color: #fff;"></i>
                            </div>
                            <div class="number-number text-center">
                                <span class="counter">250</span><span class="h2">+</span>
                            </div>
                            <p class="number-desc">Сертификаты</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeInUp">
                        <div class="counter-items">
                            <div class="counter-icon">
                                <i class="fab fa-buromobelexperte" style="color: #fff;"></i>
                            </div>
                            <div class="number-number text-center">
                                <span class="counter">35</span><span class="h2">+</span>
                            </div>
                            <p class="number-desc">Помещении</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services-area-two section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-md-6 wow animate__animated animate__fadeInUp">
                        <div class="services-item-two">
                            <div class="services-icon-two">
                                <img src="/images/icon/stethoscope.png" alt="">
                            </div>
                            <div class="services-content-two">
                                <h6 class="title">Медицинский Совет</h6>
                                <p>Надежное руководство для вашего благополучия.</p>
                                <a href="/help/1" class="btn"
                                    style="background-color: #ed0d15; color: #fff;">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 wow animate__animated animate__fadeInUp">
                        <div class="services-item-two">
                            <div class="services-icon-two">
                                <img src="/images/icon/heart.png" alt="">
                            </div>
                            <div class="services-content-two">
                                <h6 class="title">Кардиолог</h6>
                                <p>Специалист по сердечно-сосудистым заболеваниям.</p>
                                <a href="/help/1" class="btn"
                                    style="background-color: #ed0d15; color: #fff;">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 wow animate__animated animate__fadeInUp">
                        <div class="services-item-two">
                            <div class="services-icon-two">
                                <img src="/images/icon/ear.png" alt="">
                            </div>
                            <div class="services-content-two">
                                <h6 class="title">Специалист По Уху</h6>
                                <p>Квалифицированный врач по охране слуха.</p>
                                <a href="/help/1" class="btn"
                                    style="background-color: #ed0d15; color: #fff;">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 wow animate__animated animate__fadeInUp">
                        <div class="services-item-two">
                            <div class="services-icon-two">
                                <img src="/images/icon/skincare.png" alt="">
                            </div>
                            <div class="support-content-two">
                                <h6 class="title">Уход за кожей</h6>
                                <p>Эффективные процедуры по уходу за кожей обеспечивают сияние лица.</p>
                                <a href="/help/1" class="btn"
                                    style="background-color: #ed0d15; color: #fff;">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 wow animate__animated animate__fadeInUp">
                        <div class="services-item-two">
                            <div class="services-icon-two">
                                <img src="/images/icon/multivitamin.png" alt="">
                            </div>
                            <div class="services-content-two">
                                <h6 class="title">Поливитамины</h6>
                                <p>Ежедневные поливитамины эффективно поддерживают общее состояние здоровья.</p>
                                <a href="/help/1" class="btn"
                                    style="background-color: #ed0d15; color: #fff;">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 wow animate__animated animate__fadeInUp">
                        <div class="services-item-two">
                            <div class="services-icon-two">
                                <img src="/images/icon/medicines.png" alt="">
                            </div>
                            <div class="services-content-two">
                                <h6 class="title">Лекарства</h6>
                                <p>При правильном применении лекарство может улучшить здоровье.</p>
                                <a href="/help/1" class="btn"
                                    style="background-color: #ed0d15; color: #fff;">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="subscribe-section section-padding theme-overlay"
            style="background-image: url(/images/slider/slider_img_4.jpg); background-size: cover;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-6">
                        <div class="section-title text-center white">
                            <h3 class="text-white wow animate__animated animate__fadeInUp">Подписывайтесь На Нашу
                                Рассылку
                            </h3>
                            <p class="text-white wow animate__animated animate__fadeInUp">Оставьте свой адрес
                                электронной почты, чтобы быть в курсе наших новостей и рекламных акций</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-6 wow animate__animated animate__fadeInUp">
                        <form id="subscribe-form" action="/" method="post">
                            <div class="input-group mb-3">
                                <input type="email" name="email" class="form-control field-subscribe"
                                    placeholder="Введите адрес электронной почты." required />
                            </div>
                            <div class="subscribe-btn text-center">
                                <button type="submit" class="button-one mb-5">Подписаться</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <%- include('./partials/footer.ejs')%>
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/waypoints/jquery-waypoints.min.js"></script>
            <script src="/vendor/bootstrap/bootstrap.min.js"></script>
            <script src="/vendor/wow/wow.js"></script>
            <script src="/vendor/jquery-counterup/jquery-counterup.min.js"></script>
            <script src="/vendor/venobox/venobox.min.js"></script>
            <script src="/vendor/owl-carousel/owl-carousel.min.js"></script>
            <script src="/js/main.js"></script>
</body>

</html>