<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Ofiyat Med - Наша команда</title>
  <meta name="description" content="Ofiyat Med - Наша команда">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/vendor/animate/animate.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/owl-carousel/owl-carousel.min.css">
  <link rel="stylesheet" href="/vendor/venobox/venobox.css">
  <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
  <div class="preloader"></div>
  <button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-level-up-alt"></i>
  </button>
  <%- include("./partials/header.ejs")%>
    <div class="breadcrumbs-title-area">
      <div class="container">
        <div class="breadcrumbs-title-content wow animate__animated animate__fadeInUp">
          <h2>Наша команда</h2>
          <ul>
            <li><a href="/">Главная Страница</a></li>
            <li>Наша команда</li>
          </ul>
        </div>
      </div>
    </div>
    <section class="team section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-6 wow animate__animated animate__fadeInUp">
            <div class="section-title">
              <span class="sub-title">Наша Команда</span>
              <h2>Наши преданные врачи</h2>
              <div class="section-title-separator"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3 my-4">
            <div class="team-member  wow animate__animated animate__fadeInUp ">
              <div class="team-image">
                <a href="/doctor/1"><img src="/images/team/1.jpg" alt="" /></a>
              </div>
              <div class="team-details">
                <h5 class="title"><a href="/doctor/1">Эргашев Санжар Тогипулатович</a></h5>
                <span class="position">Главный Врач</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 my-4">
            <div class="team-member  wow animate__animated animate__fadeInUp ">
              <div class="team-image">
                <a href="/doctor/1"><img src="/images/team/2.jpg" alt="" /></a>
              </div>
              <div class="team-details">
                <h5 class="title"><a href="/doctor/1">Жумаев Артали Хокимович</a></h5>
                <span class="position">Хирург</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 my-4">
            <div class="team-member  wow animate__animated animate__fadeInUp ">
              <div class="team-image">
                <a href="/doctor/3"><img src="/images/team/3.jpg" alt="" /></a>
              </div>
              <div class="team-details">
                <h5 class="title"><a href="/doctor/3">Эльмуродов Сухроб Иззатиллаевич</a></h5>
                <span class="position">Кардиолог</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 my-4">
            <div class="team-member  wow animate__animated animate__fadeInUp ">
              <div class="team-image">
                <a href="/doctor/4"><img src="/images/team/4.jpg" alt="" /></a>
              </div>
              <div class="team-details">
                <h5 class="title"><a href="/doctor/4">Раджабов Аббас Бахрамович</a></h5>
                <span class="position">EXO</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 wow animate__animated animate__fadeInUp">
            <div class="team-member mb-4">
              <div class="team-image">
                <a href="/doctor/1"><img src="/images/team/5.jpg" alt="" /></a>
              </div>
              <div class="team-details">
                <h5 class="title"><a href="/doctor/1">Хамраева Насиба</a></h5>
                <span class="position">Гинеколог</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 wow animate__animated animate__fadeInUp">
            <div class="team-member">
              <div class="team-image">
                <a href="/doctor/1"><img src="/images/team/6.jpg" alt="" /></a>
              </div>
              <div class="team-details">
                <h5 class="title"><a href="/doctor/1">Алижанов Собиржон Камолджонович</a></h5>
                <span class="position">Уролог</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 wow animate__animated animate__fadeInUp">
            <div class="team-member">
              <div class="team-image">
                <a href="/doctor/1"><img src="/images/team/7.jpg" alt="" /></a>
              </div>
              <div class="team-details">
                <h5 class="title"><a href="/doctor/1">Солиев Сахибжоникромович</a></h5>
                <span class="position">Невропатолог</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 wow animate__animated animate__fadeInUp">
            <div class="team-member">
              <div class="team-image">
                <a href="/doctor/1"><img src="/images/team/8.jpg" alt="" /></a>
              </div>
              <div class="team-details">
                <h5 class="title"><a href="/doctor/1">Sanchez Charecz Luis Sergio</a></h5>
                <span class="position">Пластический Хирург</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 wow animate__animated animate__fadeInUp">
            <div class="team-member">
              <div class="team-image">
                <a href="/doctor/9"><img src="/images/team/9.jpg" alt="" /></a>
              </div>
              <div class="team-details">
                <h5 class="title"><a href="/doctor/9">Халикова Гульхайо Нуралиевна</a></h5>
                <span class="position">Педиатр</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 wow animate__animated animate__fadeInUp">
            <div class="team-member">
              <div class="team-image">
                <a href="/doctor/10"><img src="/images/team/10.jpg" alt="" /></a>
              </div>
              <div class="team-details">
                <h5 class="title"><a href="/doctor/10">Расулова Матлуба Муродовна</a></h5>
                <span class="position">Узист</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 wow animate__animated animate__fadeInUp">
            <div class="team-member">
              <div class="team-image">
                <a href="/doctor/11"><img src="/images/team/11.jpg" alt="" /></a>
              </div>
              <div class="team-details">
                <h5 class="title"><a href="/doctor/11">Жумаева Хилола Тулкиновна</a></h5>
                <span class="position">Эндокринолог и диетолог</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 wow animate__animated animate__fadeInUp">
            <div class="team-member">
              <div class="team-image">
                <a href="/doctor/12"><img src="/images/team/12.jpg" alt="" /></a>
              </div>
              <div class="team-details">
                <h5 class="title"><a href="/doctor/12">Юлташова Дилдора Пирнафасова</a></h5>
                <span class="position">Детский Невропатолог</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="subscribe-section section-padding theme-overlay"
      style="background-image: url(/images/slider/slider_img_4.jpg); background-size: cover;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-6">
            <div class="section-title text-center white">
              <h3 class="text-white wow animate__animated animate__fadeInUp">Подписывайтесь На Нашу
                Рассылку
              </h3>
              <p class="text-white wow animate__animated animate__fadeInUp">Оставьте свой адрес
                электронной почты, чтобы быть в курсе наших новостей и рекламных акций</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-6 wow animate__animated animate__fadeInUp">
            <form id="subscribe-form" action="/" method="post">
              <div class="input-group mb-3">
                <input type="email" name="email" class="form-control field-subscribe"
                  placeholder="Введите адрес электронной почты." required />
              </div>
              <div class="subscribe-btn text-center">
                <button type="submit" class="button-one mb-5">Подписаться</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer.ejs')%>
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/waypoints/jquery-waypoints.min.js"></script>
      <script src="/vendor/bootstrap/bootstrap.min.js"></script>
      <script src="/vendor/wow/wow.js"></script>
      <script src="/vendor/jquery-counterup/jquery-counterup.min.js"></script>
      <script src="/vendor/venobox/venobox.min.js"></script>
      <script src="/vendor/owl-carousel/owl-carousel.min.js"></script>
      <script src="/js/main.js"></script>
</body>

</html>