<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>OfiyatMed - Часто задаваемые вопросы</title>
  <meta name="description" content="OfiyatMed - Часто задаваемые вопросы">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/vendor/animate/animate.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/owl-carousel/owl-carousel.min.css">
  <link rel="stylesheet" href="/vendor/venobox/venobox.css">
  <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
  <div class="preloader"></div>
  <button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-level-up-alt"></i>
  </button>
  <%- include("./partials/header.ejs")%>
    <div class="breadcrumbs-title-area">
      <div class="container">
        <div class="breadcrumbs-title-content wow animate__animated animate__fadeInUp">
          <h2>Часто задаваемые вопросы</h2>
          <ul>
            <li><a href="/">Главная Страница</a></li>
            <li>Часто задаваемые вопросы</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="faq-area section-padding">
      <div class="container">
        <div class="faq-wpr">
          <div class="row">
            <div class="col-lg-8 offset-xl-2">
              <div class="course-accordion">
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item wow animate__animated animate__fadeInUp">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        1. Каковы часы работы клиники?
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p class="mb-0">
                          Наши часы работы следующие: <br>
                        <ul>
                          <li>Понедельник - Пятница: 00:00 - 23:59</li>
                          <li>Суббота: 00:00 - 23:59</li>
                          <li>Воскресенье: 00:00 - 23:59</li>
                        </ul>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item wow animate__animated animate__fadeInUp">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        2. Как записаться на прием к врачу?
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p class="mb-0">
                          Вы можете записаться на прием к врачу путем звонка в нашу клинику по телефону <%= info.phone%>
                            или посетив наш <a href="/ru/contact">веб-сайт</a> и заполнив онлайн-форму записи.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item wow animate__animated animate__fadeInUp">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        3. Какие методы оплаты принимаются в клинике?
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p class="mb-0">
                          Мы принимаем наличные, банковские карты и электронные переводы. Пожалуйста, свяжитесь с нами,
                          чтобы узнать подробности о доступных методах оплаты и стоимости консультаций.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item wow animate__animated animate__fadeInUp">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        4. Какой срок ожидания для записи на прием?
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p class="mb-0">
                          Срок ожидания для записи на прием может варьироваться в зависимости от специализации врача и
                          текущей загруженности клиники. Мы стараемся предоставить вам прием в кратчайшие сроки.
                          Свяжитесь с нами, чтобы уточнить доступные даты и время.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item wow animate__animated animate__fadeInUp">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        5. Как отменить прием?
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p class="mb-0">
                          Если вам необходимо отменить прием, пожалуйста, свяжитесь с нами заранее. Мы просим вас
                          уведомить нас хотя бы за 24 часа до назначенной даты, чтобы мы могли переназначить вашу
                          консультацию.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="subscribe-section section-padding theme-overlay"
      style="background-image: url(/images/slider/slider_img_4.jpg); background-size: cover;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-6">
            <div class="section-title text-center white">
              <h3 class="text-white wow animate__animated animate__fadeInUp">Подписывайтесь На Нашу
                Рассылку
              </h3>
              <p class="text-white wow animate__animated animate__fadeInUp">Оставьте свой адрес
                электронной почты, чтобы быть в курсе наших новостей и рекламных акций</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-6 wow animate__animated animate__fadeInUp">
            <form id="subscribe-form" action="/" method="post">
              <div class="input-group mb-3">
                <input type="email" name="email" class="form-control field-subscribe"
                  placeholder="Введите адрес электронной почты." required />
              </div>
              <div class="subscribe-btn text-center">
                <button type="submit" class="button-one mb-5">Подписаться</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer.ejs')%>
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/waypoints/jquery-waypoints.min.js"></script>
      <script src="/vendor/bootstrap/bootstrap.min.js"></script>
      <script src="/vendor/wow/wow.js"></script>
      <script src="/vendor/jquery-counterup/jquery-counterup.min.js"></script>
      <script src="/vendor/venobox/venobox.min.js"></script>
      <script src="/vendor/owl-carousel/owl-carousel.min.js"></script>
      <script src="/js/main.js"></script>
</body>

</html>