<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/vacancy">Vakansiya Qo'shish</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/info">Ma'lumotlarni O'zgartirish</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/logout">Chiqish</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container max-w-md mx-auto mt-4">
  <form action="/admin/info" method="post">
      <div class="mb-4">
          <label for="name" class="mb-2 font-medium text-gray-700">Manzil</label>
          <input value="<%=info.address%>" name="address" id="name" type="text" class="form-control" required />
      </div>
      <div class="mb-4">
          <label for="name" class="mb-2 font-medium text-gray-700">Google Manzil</label>
          <input value="<%=info.google_address%>" name="google_address" id="name" type="text" class="form-control" required />
      </div>
      <div class="mb-4">
          <label for="price" class="mb-2 font-medium text-gray-700">E-mail</label>
          <input value="<%=info.email%>" name="email" id="price" type="text" class="form-control" required />
      </div>
      <div class="mb-4">
          <label for="min_limit" class="mb-2 font-medium text-gray-700">Telefon Raqam</label>
          <input value="<%=info.phone%>" name="phone" id="min_limit" type="text" class="form-control" required />
      </div>
      <div>
          <button type="submit" class="btn btn-primary btn-block">Tasdiqlash</button>
      </div>
  </form>
</div>
<script>
    const login = localStorage.getItem('login');
    if (!login) {
        window.location.href = "/admin";
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
