<header>
  <div id="header-fixed-height"></div>

  <div id="sticky-header" class="menu-area menu-area-one align-items-center">
    <div class="custom-container">
      <div class="row">
        <div class="col-12">
          <div class="mobile-nav-toggler mt-5-mobile"><i class="fas fa-bars"></i></div>
          <div class="menu-wrap">
            <nav class="menu-nav" aria-label>
              <div class="logo">
                <a href="/"><img src="/images/logo.svg" alt="Logo"></a>
              </div>
              <div class="navbar-wrap main-menu d-none d-lg-flex">
                <ul class="navigation">
                  <li <% if (url==="index" ) { %> class="active" <% } %> ><a href="/">Asosiy Sahifa</a></li>
                  <li <% if (url==="about" ) { %> class="active" <% } %> ><a href="/about">Biz Haqimizda</a></li>
                  <li <% if (url==="doctor" ) { %> class="active" <% } %> ><a href="/doctor">Jamoamiz</a></li>
                  <li <% if (url==="vacancy" ) { %> class="active menu-item-has-children" <% } else { %>
                      class="menu-item-has-children" <% } %> >
                        <a href="/vacancy">Vakansiya</a>
                        <ul class="sub-menu">
                          <li><a href="/vacancy">Vakansiya</a></li>
                          <li><a href="/resume">Rezume Yuborish</a></li>
                        </ul>
                  </li>
                  <li <% if (url==="blog" ) { %> class="active" <% } %> ><a href="/blog">Bloglarimiz</a></li>
                  <li <% if (url==="contact" ) { %> class="active" <% } %> ><a href="/contact">Bog'lanish</a></li>
                </ul>
              </div>
              <div class="header-action d-none d-md-block">
                <ul class="list-wrap">
                  <li class="header-btn"><a href="/contact" class="button-one">Book Appointment</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="mobile-menu">
            <nav class="menu-box" aria-label>
              <div class="close-btn"><i class="fas fa-times"></i></div>
              <div class="nav-logo">
                <a href="index.html"><img src="/images/logo.svg" alt="Logo"></a>
              </div>
              <div class="menu-outer">
              </div>
              <div class="social-links">
                <ul class="clearfix list-wrap">
                  <li><a href="https://t.me/ofiyat_med" title="Telegram"><i class="fab fa-telegram fa-lg"></i></a></li>
                  <li><a href="https://instagram.com/ofiyat_med?igshid=MzRlODBiNWFlZA==" title="Instagram"><i
                        class="fab fa-instagram fa-lg"></i></a></li>
                  <li><a href="https://www.facebook.com/profile.php?id=100093428571571" title="Facebook"><i
                        class="fab fa-facebook fa-lg"></i></a></li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="menu-backdrop"></div>
        </div>
      </div>
    </div>
  </div>
</header>
<style>
  .mt-5-mobile {
    padding-top: 5px;

    @media (min-width: 767.98px) {
      margin-top: 0;
    }
  }
</style>