<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>DaktarZone - Medical & Healthcare HTML5 Website Template</title>
        <meta name="description" content="DaktarZone - Medical & Healthcare HTML5 Website Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
        <link rel="stylesheet" href="assets/vendor/animate/animate.min.css">
        <link rel="stylesheet" href="assets/vendor/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="assets/vendor/owl-carousel/owl-carousel.min.css">
        <link rel="stylesheet" href="assets/vendor/venobox/venobox.css">
        <link rel="stylesheet" href="assets/vendor/font-awesome/font-awesome.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
    </head>
    <body>
        <div class="preloader"></div>
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-level-up-alt"></i>
        </button>
        <header>
            <div id="header-fixed-height"></div>
            <div class="header-top-wrap">
                <div class="custom-container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-9">
                            <div class="header-top-left">
                                <ul class="list-wrap">
                                    <li><i class="fal fa-clock"></i> Monday - Friday 09:00 am - 05:00 Pm</li>
                                    <li><i class="fal fa-phone-volume"></i><a href="tel:0123456789">+88 ( 5548 ) 6548</a></li>
                                    <li><i class="fal fa-envelope"></i><a href="mailto:infoyour@gmail.com">info@yourdomain.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-3">
                            <div class="header-top-right">
                                <div class="header-social">
                                    <ul class="list-wrap">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="menu-area menu-area-one">
                <div class="custom-container">
                    <div class="row">
                        <div class="col-12">
                            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                            <div class="menu-wrap">
                                <nav class="menu-nav" aria-label>
                                    <div class="logo">
                                        <a href="index.html"><img src="assets/images/logo.png" alt="Logo"></a>
                                    </div>
                                    <div class="navbar-wrap main-menu d-none d-lg-flex">
                                        <ul class="navigation">
                                            <li class="active menu-item-has-children"><a href="#">Home</a>
                                                <ul class="sub-menu">
                                                    <li><a href="index.html">Home One</a></li>
                                                    <li><a href="index-two.html">Home Two</a></li>
                                                    <li><a href="index-three.html">Home Three</a></li>
                                                    <li><a href="index-four.html">Home Four</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="about.html">About us</a></li>
                                            <li class="menu-item-has-children"><a href="#">Services</a>
                                                <ul class="sub-menu">
                                                    <li><a href="services.html">Services Page</a></li>
                                                    <li><a href="services-two.html">Services Page Two</a></li>
                                                    <li><a href="services-details.html">Services Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Pages</a>
                                                <ul class="sub-menu">
                                                   <li><a href="doctor.html">Doctor</a></li>
                                                    <li><a href="doctor-single.html">Doctor Detail</a></li>
                                                    <li><a href="gallery-grid.html">Gallery</a></li>
                                                    <li><a href="appointment.html">Appointment</a></li>
                                                    <li><a href="testimonials-slider.html">Testimonial Slider</a></li>
                                                    <li><a href="testimonials-grid.html">Testimonial Grid</a></li>
                                                    <li><a href="shop.html">Shop</a></li>
                                                    <li><a href="single-product.html">Product Details</a></li>
                                                    <li><a href="cart.html">Cart</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="faq.html">FAQ</a></li>
                                                    <li><a href="404.html">404 Error</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Blog</a>
                                                <ul class="sub-menu">
                                                    <li><a href="blog.html">Our Blog</a></li>
                                                    <li><a href="blog-single.html">Blog Detail</a></li>
                                                    <li><a href="blog-single-left-sidebar.html">Blog Detail Left Sidebar</a></li>
                                                    <li><a href="blog-single-video.html">Blog Video</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Sign in</a>
                                                <ul class="sub-menu">
                                                    <li><a href="login.html">Sign in</a></li>
                                                    <li><a href="register.html">Sign Up</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </div>
                                    <div class="header-action d-none d-md-block">
                                        <ul class="list-wrap">
                                            <li class="header-btn"><a href="contact.html" class="button-one">Book Appointment</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="mobile-menu">
                                <nav class="menu-box" aria-label>
                                    <div class="close-btn"><i class="fas fa-times"></i></div>
                                    <div class="nav-logo">
                                        <a href="index.html"><img src="assets/images/logo.png" alt="Logo"></a>
                                    </div>
                                    <div class="menu-outer">
                                    </div>
                                    <div class="social-links">
                                        <ul class="clearfix list-wrap">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="menu-backdrop"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="breadcrumbs-title-area">
            <div class="container">
                <div class="breadcrumbs-title-content wow animate__animated animate__fadeInUp">
                    <h2>About Us</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </div>
      <section class="about-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-12 wow animate__animated animate__fadeInUp">
                    <div class="about-images mb-5 mb-md-0">
                        <img src="assets/images/about/1.jpg" alt="">
                        <img src="assets/images/about/2.jpg" alt="">
                    </div>
                </div>
                 <div class="col-xl-6 col-12 ps-xl-5 wow animate__animated animate__fadeInUp">
                    <div class="section-title-two">
                        <span>25 Years of Experience</span>
                        <h2>High Quality Medical Equipments</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type </p>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="about-section-info">
                                <i class="fal fa-file-certificate"></i>
                                <h3>User Experience</h3>
                                <p>own printer took a galley of type and scramble.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="about-section-info">
                                <i class="fal fa-user-headset"></i>
                                <h3>Quick Support</h3>
                                <p>own printer took a galley of type and scramble.</p>
                            </div>
                        </div>
                    </div>
                      <a href="contact.html" class="button-one mt-20">Learn More</a>
                </div>
            </div>
            </div>
        </div>
    </section>
        <section id="counter-area" class="section-padding" style="background-image: url(assets/images/bg/1.jpg); background-size: cover; background-attachment: fixed;">
            <div class="container">
                <div class=" row text-center">
                    <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeInUp">
                        <div class="counter-items">
                            <div class="counter-icon">
                                <i class="fal fa-scalpel"></i>
                            </div>
                            <div class="number-number">
                                <span class="counter">500</span>
                            </div>
                            <p class="number-desc">Successfull Operation</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeInUp">
                        <div class="counter-items">
                            <div class="counter-icon">
                                <i class="fal fa-user-nurse"></i>
                            </div>
                            <div class="number-number">
                                <span class="counter">100</span>
                            </div>
                            <p class="number-desc">Expert Doctor</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeInUp">
                        <div class="counter-items">
                            <div class="counter-icon">
                            <i class="fal fa-award"></i>
                            </div>
                            <div class="number-number">
                                <span class="counter">400</span>
                            </div>
                            <p class="number-desc">Awards Wining</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeInUp">
                        <div class="counter-items">
                            <div class="counter-icon">
                                <i class="fab fa-buromobelexperte"></i>
                            </div>
                            <div class="number-number">
                                <span class="counter">30</span>
                            </div>
                            <p class="number-desc">Year of experience</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="support-area pt-115 pb-70">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-md-6 wow animate__animated animate__fadeInUp">
                        <div class="support-item">
                            <div class="support-icon">
                                <img src="assets/images/icon/stethoscope.png" alt="">
                            </div>
                            <div class="support-content">
                                <h6 class="title">Mediacal Counseling</h6>
                                <p>There are many variations of passages</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 wow animate__animated animate__fadeInUp">
                        <div class="support-item">
                            <div class="support-icon">
                                <img src="assets/images/icon/doctor.png" alt="">
                            </div>
                            <div class="support-content">
                                <h6 class="title">Qualified Doctors</h6>
                                <p>There are many variations of passages</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 wow animate__animated animate__fadeInUp">
                        <div class="support-item">
                            <div class="support-icon">
                                <img src="assets/images/icon/truck.png" alt="">
                            </div>
                            <div class="support-content">
                                <h6 class="title">Emergency Services</h6>
                                <p>There are many variations of passages</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <section class="team section-padding-b">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-6">
                        <div class="section-title wow animate__animated animate__fadeInUp">
                            <span class="sub-title">Our Team</span>
                            <h2>Our Dedicated Doctors</h2>
                            <div class="section-title-separator"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="team-member wow animate__animated animate__fadeInUp ">
                            <div class="team-image">
                                <img src="assets/images/team/1.jpg" alt="" />
                                <div class="team-social">
                                    <div class="team-social-inner">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-details">
                                <h5 class="title"><a href="worker.html">Dr. Md Hridoy Islam</a></h5>
                                <span class="position">CEO Founder</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="team-member wow animate__animated animate__fadeInUp">
                            <div class="team-image">
                                <img src="assets/images/team/2.jpg" alt="" />
                                <div class="team-social">
                                    <div class="team-social-inner">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-details">
                                <h5 class="title"><a href="worker.html">Dr. Md Hridoy</a></h5>
                                <span class="position">Psychiatrist/span>
                            </div>
                        </div>
                    </div>                      
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="team-member wow animate__animated animate__fadeInUp">
                            <div class="team-image">
                                <img src="assets/images/team/3.jpg" alt="" />
                                <div class="team-social">
                                    <div class="team-social-inner">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-details">
                                <h5 class="title"><a href="worker.html">Dr. Md Hridoy Islam</a></h5>
                                <span class="position">Heart Specialist</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="team-member wow animate__animated animate__fadeInUp">
                            <div class="team-image">
                                <img src="assets/images/team/4.jpg" alt="" />
                                <div class="team-social">
                                    <div class="team-social-inner">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-details">
                                <h5 class="title"><a href="worker.html">Dr. Md Hridoy Islam</a></h5>
                                <span class="position">Senior Doctor</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <section class="subscribe-section section-padding theme-overlay" style="background-image: url(assets/images/slider/slider_img_4.jpg); background-size: cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-6 wow animate__animated animate__fadeInUp">
                    <div class="section-title text-center white">
                        <h3 class="text-white">Subscribe To Newsletter</h3>
                        <p class="text-white">Vivamus ornare feugiat orci eu faucibus. Phasellus nulla arcu, pharetra nec laoreet in, scelerisque a lectus.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-6 wow animate__animated animate__fadeInUp">
                    <form id="subscribe-form" action="#" method="post">
                        <div class="input-group mb-3">
                            <input type="email" name="email" class="form-control field-subscribe" placeholder="Enter Your Email Address" required />
                        </div>
                        <div class="subscribe-btn text-center">
                           <button type="submit" class="button-one mb-5">Subscribe</button>
                        </div>
                        <p class="text-center mb-0 text-white">                         
                        We don’t share your personal information with anyone or company. 
                        Check out our <a href="#"><strong>Privacy Policy</strong></a> for more information.
                       </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
<div class="partner-area section-padding-b section-padding-t">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="partner-carousel owl-carousel owl-theme wow animate__animated animate__fadeInUp">
                        <div class="item">
                            <img src="assets/images/partner/1.png" class="img-fluid" alt="img-13">
                        </div>
                        <div class="item">
                            <img src="assets/images/partner/2.png" class="img-fluid" alt="img-14">
                        </div>
                        <div class="item">
                            <img src="assets/images/partner/3.png" class="img-fluid" alt="img-15">
                        </div>
                        <div class="item">
                            <img src="assets/images/partner/4.png" class="img-fluid" alt="img-16">
                        </div>
                    </div>   
                 </div>
            </div>
        </div>
    </div>
</div>
    <footer>
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 res-margin">
                        <div class="widget">
                            <p class="footer-logo">
                                <img src="assets/images/logo-light.png" alt="" data-rjs="2">
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis non, fugit totam vel laboriosam vitae.
                            </p>
                            <div class="footer-social">
                                <a href="#" title="Twitter"><i class="fab fa-twitter fa-fw"></i></a>
                                <a href="#" title="Facebook"><i class="fab fa-facebook-f fa-fw"></i></a>
                                <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                                <a href="#" title="Dribbble"><i class="fab fa-dribbble"></i></a>
                                <a href="#" title="Pinterest"><i class="fab fa-pinterest fa-fw"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2 offset-lg-1 res-margin">
                        <div class="widget">
                            <h6>Useful Links</h6>
                            <ul class="footer-menu">
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Affiliate Program</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 res-margin">
                        <div class="widget">                            
                            <h6>Help</h6>
                            <ul class="footer-menu">
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Feedback</a></li>
                                <li><a href="#">API</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="widget">
                            <h6>Contacts</h6>
                        </div>
                        <ul class="footer-menu footer-contact-list">
                            <li>
                                <span>Address:</span>
                                 2750 Quadra Street Victoria, Canada
                            </li>
                            <li>
                                <span>Email:</span>
                                 info@example.com
                            </li>
                            <li>
                                <span>Phone:</span>
                                 +44 587 154756
                            </li>
                             <li>
                                <span>Fax:</span>
                                 +44 587 154756
                            </li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">              
            <div class="container">
                <div class="row">                       
                    <div class="col-12">
                        <p class="copyright text-center">
                            Copyright © 2023 <a href="#">Daktar Zone</a>. All Rights Reserved.
                        </p>
                    </div>
                </div>
            </div>              
        </div>
    </footer>
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/waypoints/jquery-waypoints.min.js"></script>
    <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="assets/vendor/wow/wow.js"></script>
    <script src="assets/vendor/jquery-counterup/jquery-counterup.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/owl-carousel/owl-carousel.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
