<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ofiyat Med - Qo'llab quvvatlash</title>
        <meta name="description" content="Ofiyat Med - Qo'llab quvvatlash">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
        <link rel="stylesheet" href="/vendor/animate/animate.min.css">
        <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/vendor/owl-carousel/owl-carousel.min.css">
        <link rel="stylesheet" href="/vendor/venobox/venobox.css">
        <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">
    </head>
    <body>
        <div class="preloader"></div>
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-level-up-alt"></i>
        </button>
        <header>
            <div id="header-fixed-height"></div>
            <div id="sticky-header" class="menu-area menu-area-one">
                <div class="custom-container">
                    <div class="row">
                        <div class="col-12">
                            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                            <div class="menu-wrap">
                                <nav class="menu-nav" aria-label>
                                    <div class="logo">
                                        <a href="/"><img src="/images/logo.png" alt="Logo"></a>
                                    </div>
                                    <div class="navbar-wrap main-menu d-none d-lg-flex">
                                        <ul class="navigation">
                                            <li class="menu-item-has-children"><a href="/">Home</a>
                                                <ul class="sub-menu">
                                                    <li><a href="/">Home One</a></li>
                                                    <li><a href="index-two.html">Home Two</a></li>
                                                    <li><a href="index-three.html">Home Three</a></li>
                                                    <li><a href="index-four.html">Home Four</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/about">About us</a></li>
                                            <li class="menu-item-has-children"><a href="#">Services</a>
                                                <ul class="sub-menu">
                                                    <li><a href="services.html">Services Page</a></li>
                                                    <li><a href="services-two.html">Services Page Two</a></li>
                                                    <li><a href="services-details.html">Services Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Pages</a>
                                                <ul class="sub-menu">
                                                    <li><a href="doctor.html">Doctor</a></li>
                                                    <li><a href="doctor-single.html">Doctor Detail</a></li>
                                                    <li><a href="gallery-grid.html">Gallery</a></li>
                                                    <li><a href="appointment.html">Appointment</a></li>
                                                    <li><a href="testimonials-slider.html">Testimonial Slider</a></li>
                                                    <li><a href="testimonials-grid.html">Testimonial Grid</a></li>
                                                    <li><a href="faq.html">FAQ</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Blog</a>
                                                <ul class="sub-menu">
                                                    <li><a href="blog.html">Our Blog</a></li>
                                                    <li><a href="blog-single.html">Blog Detail</a></li>
                                                    <li><a href="blog-single-left-sidebar.html">Blog Detail Left Sidebar</a></li>
                                                    <li><a href="blog-single-video.html">Blog Video</a></li>
                                                </ul>
                                            </li>
                                            <li class="active"><a href="/contact">Contact</a></li>
                                        </ul>
                                    </div>
                                    <div class="header-action d-none d-md-block">
                                        <ul class="list-wrap">
                                            <li class="header-btn"><a href="/contact" class="button-one">Book Appointment</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="mobile-menu">
                                <nav class="menu-box" aria-label>
                                    <div class="close-btn"><i class="fas fa-times"></i></div>
                                    <div class="nav-logo">
                                        <a href="/"><img src="/images/logo.png" alt="Logo"></a>
                                    </div>
                                    <div class="menu-outer">
                                    </div>
                                    <div class="social-links">
                                        <ul class="clearfix list-wrap">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="menu-backdrop"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="breadcrumbs-title-area">
            <div class="container">
                <div class="breadcrumbs-title-content wow animate__animated animate__fadeInUp">
                    <h2>Contact Us</h2>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="contact-area section-padding">
            <div class="container">
                <div class="section-title pb-10 wow animate__animated animate__fadeInUp">
                    <span class="sub-title">Send Message</span>
                    <h2>Feel free to contact</h2>
                    <div class="section-title-separator"></div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-12 wow animate__animated animate__fadeInUp">
                        <div class="contact-info">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <span>Address</span>
                                      54/C, Asad Avenue, Mohammadpur, Dhaka
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <span>Email</span>
                                    <a href="#">info@example.com</a>
                                    <a href="#">info@example.com</a>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-phone-volume"></i>
                                    </div>
                                    <span>Phone</span>
                                    <a href="#">+44 154756 15</a>
                                    <a href="#">+55 5555 5555</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 wow animate__animated animate__fadeInUp">
                        <div class="contact-form">
                            <form id="contactForm" action="" method="post">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Name">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Email">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="phone_number" id="phone_number" required data-error="Please enter your number" class="form-control" placeholder="Phone">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter your subject" placeholder="Subject">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="5" required data-error="Write your message" placeholder="Your Message"></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" class="btn btn-primary">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="map-area">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255278.11535279677!2d103.65922842076195!3d1.3440836651644819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1767b42b8ec9%3A0x400f7acaedaa420!2z4Ka44Ka_4KaZ4KeN4KaX4Ka-4Kaq4KeB4KawIOCmuOCmv-Cmn-Cmvywg4Ka44Ka_4KaZ4KeN4KaX4Ka-4Kaq4KeB4Kaw!5e0!3m2!1sbn!2sbd!4v1687203863923!5m2!1sbn!2sbd"></iframe>
        </div>
    <footer>
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 res-margin">
                        <div class="widget">
                            <p class="footer-logo">
                                <img src="/images/logo-light.png" alt="" data-rjs="2">
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis non, fugit totam vel laboriosam vitae.
                            </p>
                            <div class="footer-social">
                                <a href="#" title="Twitter"><i class="fab fa-twitter fa-fw"></i></a>
                                <a href="#" title="Facebook"><i class="fab fa-facebook-f fa-fw"></i></a>
                                <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                                <a href="#" title="Dribbble"><i class="fab fa-dribbble"></i></a>
                                <a href="#" title="Pinterest"><i class="fab fa-pinterest fa-fw"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2 offset-lg-1 res-margin">
                        <div class="widget">
                            <h6>Useful Links</h6>
                            <ul class="footer-menu">
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Affiliate Program</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 res-margin">
                        <div class="widget">                            
                            <h6>Help</h6>
                            <ul class="footer-menu">
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Feedback</a></li>
                                <li><a href="#">API</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="widget">
                            <h6>Contacts</h6>
                        </div>
                        <ul class="footer-menu footer-contact-list">
                            <li>
                                <span>Address:</span>
                                 2750 Quadra Street Victoria, Canada
                            </li>
                            <li>
                                <span>Email:</span>
                                 info@example.com
                            </li>
                            <li>
                                <span>Phone:</span>
                                 +44 587 154756
                            </li>
                             <li>
                                <span>Fax:</span>
                                 +44 587 154756
                            </li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">              
            <div class="container">
                <div class="row">                       
                    <div class="col-12">
                        <p class="copyright text-center">
                            Copyright © 2023 <a href="https://uis-team.com">UIS Team</a>. All Rights Reserved.
                        </p>
                    </div>
                </div>
            </div>              
        </div>
    </footer>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/waypoints/jquery-waypoints.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/vendor/wow/wow.js"></script>
    <script src="/vendor/jquery-counterup/jquery-counterup.min.js"></script>
    <script src="/vendor/venobox/venobox.min.js"></script>
    <script src="/vendor/owl-carousel/owl-carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
