<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Ofiyat Med - Terini parvarish qilish</title>
  <meta name="description" content="Ofiyat Med - Terini parvarish qilish">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/vendor/animate/animate.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/owl-carousel/owl-carousel.min.css">
  <link rel="stylesheet" href="/vendor/venobox/venobox.css">
  <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
  <div class="preloader"></div>
  <button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-level-up-alt"></i>
  </button>

  <%- include("../partials/header.ejs")%>
    <div class="breadcrumbs-title-area">
      <div class="container">
        <div class="breadcrumbs-title-content wow animate__animated animate__fadeInUp">
          <h2>Terini parvarish qilish</h2>
          <ul>
            <li><a href="/">Asosiy Sahifa</a></li>
            <li>Terini parvarish qilish</li>
          </ul>
        </div>
      </div>
    </div>
    <section class="service-page detail pt-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 order-lg-0">
            <div class="left-part">
              <div class="image">
                <img src="/images/gallery/help2.jpg" alt="Service">
              </div>
              <div class="text">
                <h5>Terini parvarish qilish</h5>
                <p>Terini parvarish qilish shunchaki trend emas; bu har kungi marosim bo'lib, o'z terimizda o'zimizni
                  ishonchli va qulay his qilishimizga yordam beradi. Bu yosh, jins va kelib chiqishi chegaralaridan
                  oshib, o'z-o'ziga g'amxo'rlik va o'zini sevishning aksidir. Bizning tanamizning tuvali, terimiz
                  e'tibor va g'amxo'rlikka loyiqdir.</p>
                <div class="img">
                  <img src="/images/gallery/4.jpg" alt="Service" width="250">
                </div>
                <p>Ifloslanish, stress va vaqt o'tishi o'z ta'sirini ko'rsatadigan dunyoda terini parvarish qilishning
                  to'g'ri tartibi bizning qalqonimiz va muqaddas joyimizga aylanadi. Bu behudalik haqida emas, balki
                  tabiiy go'zalligimizni saqlash va yaxshilash haqida.</p>
                <p>Terini parvarish qilishning go'zalligi uning soddaligi va ko'p qirraliligidadir. Bu kunlik kirni
                  yuvish uchun tetiklantiruvchi tozalash vositasi bo'ladimi, yo'qotilgan namlikni to'ldirish uchun
                  namlovchi nemlendirici yoki zararli ultrabinafsha nurlaridan himoya qiluvchi quyosh kremi bo'ladimi,
                  terini parvarish qilish tartibidagi har bir qadam o'z qadr-qimmatini ifodalaydi.</p>
                <p>Bu nomukammalliklarni qabul qilish va o'ziga xoslikni nishonlash, har bir teri turi o'ziga xos tarzda
                  har xil va chiroyli ekanligini tushunishdir. Terini parvarish qilish - bu o'z-o'zini kashf qilish
                  sayohati, sog'lom turmush tarziga sodiqlik va bizni himoya quchog'iga o'rab olgan aql bovar
                  qilmaydigan organning bayramidir.</p>
                <p>Shunday ekan, keling, terimizni qadrlaylik va har bir kunimizni o‘zimizga g‘amxo‘rlik qilish uchun
                  vasiyat qilaylik, chunki terimizga g‘amxo‘rlik qilganimizda, biz o‘z farovonligimiz va ishonchimiz
                  haqida qayg‘uramiz. Terini parvarish qilish odatdagidan ko'proq; bu o'zimizni, kamchiliklarni va hamma
                  narsani sevish garovidir.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 order-lg-1">
            <div class="right-part">
              <div class="item">
                <div class="title">
                  <h5>Barcha Xizmatlar</h5>
                </div>
                <ul>
                  <li>
                    <p>Nevrolog</p>
                  </li>
                  <li>
                    <p>Terapevt</p>
                  </li>
                  <li>
                    <p>Nefrolog</p>
                  </li>
                  <li>
                    <p>Kardiolog</p>
                  </li>
                  <li>
                    <p>Travmatolog</p>
                  </li>
                  <li>
                    <p>LOR</p>
                  </li>
                </ul>
              </div>
              <div class="item hours opening-hours">
                <div class="title">
                  <h5>Ish vaqti</h5>
                </div>
                <ul>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Dushanba - Juma</p>
                    <p>24/7</p>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Shanba</p>
                    <p>24/7</p>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Yakshanba</p>
                    <p>24/7</p>
                  </li>
                </ul>
                <a href="/contact" class="button-style1">Qabulga Yozilish <i class="fas fa-arrow-circle-right"></i></a>
              </div>
              <div class="item">
                <div class="title">
                  <h5>Rasmlar</h5>
                </div>
                <div class="img">
                  <img src="/images/gallery/003.jpg" alt="Service">
                </div>
              </div>
              <div class="item">
                <div class="title">
                  <h5>Biz haqimizda</h5>
                </div>
                <p>Ofiyat Med Klinikasi 2022-yil 1-oktabrdan o'z faoliyatini boshlagan. Ofiyat Med
                  Klinikasida 20dan ochiq malakali shifokorlar mavjud va hozirgi kungacha ushbu
                  malakali
                  shifokorlar 1000dan ortiq muvaffiqatli jarrohlik amaliyotlarini amalga
                  oshirishgan.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer.ejs")%>
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/waypoints/jquery-waypoints.min.js"></script>
      <script src="/vendor/bootstrap/bootstrap.min.js"></script>
      <script src="/vendor/wow/wow.js"></script>
      <script src="/vendor/jquery-counterup/jquery-counterup.min.js"></script>
      <script src="/vendor/venobox/venobox.min.js"></script>
      <script src="/vendor/owl-carousel/owl-carousel.min.js"></script>
      <script src="/js/main.js"></script>
</body>

</html>
<style>
  img {
    max-width: 100%;
    height: auto;
  }
</style>