<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Ofiyat Med - Dori-Darmon</title>
  <meta name="description" content="Ofiyat Med - Dori-Darmon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/vendor/animate/animate.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/owl-carousel/owl-carousel.min.css">
  <link rel="stylesheet" href="/vendor/venobox/venobox.css">
  <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
  <div class="preloader"></div>
  <button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-level-up-alt"></i>
  </button>

  <%- include("../partials/header.ejs")%>
    <div class="breadcrumbs-title-area">
      <div class="container">
        <div class="breadcrumbs-title-content wow animate__animated animate__fadeInUp">
          <h2>Dori-Darmon</h2>
          <ul>
            <li><a href="/">Asosiy Sahifa</a></li>
            <li>Dori-Darmon</li>
          </ul>
        </div>
      </div>
    </div>
    <section class="service-page detail pt-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 order-lg-0">
            <div class="left-part">
              <div class="image">
                <img src="/images/gallery/10.jpg" alt="Service">
              </div>
              <div class="text">
                <h5>Dori-Darmon</h5>
                <p>Dori-darmonlar sog'liqni saqlash sohasini o'zgartirgan zamonaviy mo''jizalardir. Ilm-fan va
                  innovatsiyalarning bu ajoyib birikmalari kasallik va azob-uqubatlarga qarshi kurashda bizning
                  ittifoqchilarimizdir. Oddiy og'riq qoldiruvchi vositalardan tortib murakkab kimyoterapiya vositalariga
                  qadar, dorilar turli shakllarda keladi va turli maqsadlarga xizmat qiladi.</p>
                <div class="img">
                  <img src="/images/gallery/small-image.jpg" alt="Service">
                </div>
                <p>Dorilar simptomlarni engillashtirish, kasalliklarni davolash va hayotni uzaytirish kuchiga ega. Ular
                  zaiflik va chidamlilik o'rtasidagi tafovutni yo'qotib, qiyinchiliklarga umid baxsh etadi. Bugungi
                  dunyoda ular surunkali kasalliklarni davolashda va umumiy hayot sifatini yaxshilashda muhim rol
                  o'ynaydi.</p>
                <p>Biroq, katta kuch bilan katta mas'uliyat keladi. Dori-darmonlarni noto'g'ri ishlatish yoki haddan
                  tashqari ishlatish salbiy oqibatlarga olib kelishi va hatto antibiotiklarga chidamlilik global
                  muammosiga hissa qo'shishi mumkin. Dori-darmonlarni ehtiyotkorlik bilan ishlatish, shifokorlarning
                  tavsiyalariga amal qilish va belgilangan dozalarga rioya qilish muhimdir.</p>
                <p>Xulosa qilib aytadigan bo'lsak, dori-darmonlar insonning zukkoligi va davolanishga sodiqligimizdan
                  dalolat beradi. Ular sog'liqni saqlash sohasida inqilob qildilar va buni qilishda davom etmoqdalar.
                  O'z farovonligimiz boshqaruvchilari sifatida biz bu mo''jizalarni qadrlashimiz va hurmat qilishimiz va
                  ularning samaradorligi mas'uliyatli foydalanishga bog'liqligini yodda tutishimiz kerak.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 order-lg-1">
            <div class="right-part">
              <div class="item">
                <div class="title">
                  <h5>Barcha Xizmatlar</h5>
                </div>
                <ul>
                  <li>
                    <p>Nevrolog</p>
                  </li>
                  <li>
                    <p>Terapevt</p>
                  </li>
                  <li>
                    <p>Nefrolog</p>
                  </li>
                  <li>
                    <p>Kardiolog</p>
                  </li>
                  <li>
                    <p>Travmatolog</p>
                  </li>
                  <li>
                    <p>LOR</p>
                  </li>
                </ul>
              </div>
              <div class="item hours opening-hours">
                <div class="title">
                  <h5>Ish vaqti</h5>
                </div>
                <ul>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Dushanba - Juma</p>
                    <p>00:00 - 23:59</p>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Shanba</p>
                    <p>00:00 - 23:59</p>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Yakshanba</p>
                    <p>00:00 - 23:59</p>
                  </li>
                </ul>
                <a href="/contact" class="button-style1">Qabulga Yozilish <i class="fas fa-arrow-circle-right"></i></a>
              </div>
              <div class="item">
                <div class="title">
                  <h5>Rasmlar</h5>
                </div>
                <div class="img">
                  <img src="/images/gallery/2.jpg" alt="Service">
                </div>
              </div>
              <div class="item">
                <div class="title">
                  <h5>Biz haqimizda</h5>
                </div>
                <p>Ofiyat Med Klinikasi 2022-yil 1-oktabrdan o'z faoliyatini boshlagan. Ofiyat Med
                  Klinikasida 20dan ochiq malakali shifokorlar mavjud va hozirgi kungacha ushbu
                  malakali
                  shifokorlar 1000dan ortiq muvaffiqatli jarrohlik amaliyotlarini amalga
                  oshirishgan.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer.ejs")%>
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/waypoints/jquery-waypoints.min.js"></script>
      <script src="/vendor/bootstrap/bootstrap.min.js"></script>
      <script src="/vendor/wow/wow.js"></script>
      <script src="/vendor/jquery-counterup/jquery-counterup.min.js"></script>
      <script src="/vendor/venobox/venobox.min.js"></script>
      <script src="/vendor/owl-carousel/owl-carousel.min.js"></script>
      <script src="/js/main.js"></script>
</body>

</html>
<style>
  img {
    max-width: 100%;
    height: auto;
  }
</style>