<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Ofiyat Med - Кардиолог</title>
  <meta name="description" content="Ofiyat Med - Кардиолог">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/vendor/animate/animate.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/owl-carousel/owl-carousel.min.css">
  <link rel="stylesheet" href="/vendor/venobox/venobox.css">
  <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
  <div class="preloader"></div>
  <button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-level-up-alt"></i>
  </button>

  <%- include("../partials/header.ejs")%>
    <div class="breadcrumbs-title-area">
      <div class="container">
        <div class="breadcrumbs-title-content wow animate__animated animate__fadeInUp">
          <h2>Кардиолог</h2>
          <ul>
            <li><a href="/ru">Главная страница</a></li>
            <li>Кардиолог</li>
          </ul>
        </div>
      </div>
    </div>
    <section class="service-page detail pt-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 order-lg-0">
            <div class="left-part">
              <div class="image">
                <img src="/images/gallery/help2.jpg" alt="Service">
              </div>
              <div class="text">
                <h5>Кардиолог</h5>
                <p>Кардиолог-это медицинский работник, который специализируется на диагностике, лечении и профилактике
                  сердечных заболеваний. Эти высококвалифицированные врачи играют жизненно важную роль в поддержании
                  здоровья сердечно-сосудистой системы и находятся на переднем крае лечения сердечных заболеваний.</p>
                <div class="img">
                  <img src="/images/gallery/1.jpg" alt="Service" width="250">
                </div>
                <p>Кардиологи необходимы людям с различными сердечными заболеваниями, такими как ишемическая болезнь
                  сердца, аритмии, сердечная недостаточность и заболевания клапанов. Они используют свой опыт при
                  интерпретации диагностических тестов, таких как ЭКГ, эхокардиограммы и катетеризация сердца, чтобы
                  правильно оценить здоровье сердца пациента. Варианты лечения могут варьироваться от назначения
                  лекарств до рекомендаций по изменению образа жизни и, в некоторых случаях, выполнения сложных
                  хирургических процедур, таких как шунтирование коронарной артерии или ангиопластика.</p>
                <p>Кроме того, кардиологи играют важную роль в продвижении профилактических мер по снижению риска
                  сердечных заболеваний. Они подчеркивают важность здорового образа жизни, включая регулярные
                  упражнения, сбалансированное питание и отказ от курения.</p>
                <p>По сути, кардиологи-хранители наших сердец, стремящиеся обеспечить оптимальное функционирование этого
                  жизненно важного органа. Их приверженность здоровью сердечно-сосудистой системы делает их бесценными в
                  продолжающейся борьбе с сердечными заболеваниями и улучшает жизнь бесчисленного множества людей.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 order-lg-1">
            <div class="right-part">
              <div class="item">
                <div class="title">
                  <h5>Все Услуги</h5>
                </div>
                <ul>
                  <li>
                    <p>Невролог</p>
                  </li>
                  <li>
                    <p>Терапевт</p>
                  </li>
                  <li>
                    <p>Нефролог</p>
                  </li>
                  <li>
                    <p>Кардиолог</p>
                  </li>
                  <li>
                    <p>Травматолог</p>
                  </li>
                  <li>
                    <p>ЛОР</p>
                  </li>
                </ul>
              </div>
              <div class="item hours opening-hours">
                <div class="title">
                  <h5>Рабочее время</h5>
                </div>
                <ul>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Понедельник-Пятница</p>
                    <p>24/7</p>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Суббота</p>
                    <p>24/7</p>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Воскресенье</p>
                    <p>24/7</p>
                  </li>
                </ul>
                <a href="/ru/contact" class="button-style1">Запись На Прием<i class="fas fa-arrow-circle-right"></i></a>
              </div>
              <div class="item">
                <div class="title">
                  <h5>Фотографии</h5>
                </div>
                <div class="img">
                  <img src="/images/gallery/001.jpg" alt="Service">
                </div>
              </div>
              <div class="item">
                <div class="title">
                  <h5>О нас</h5>
                </div>
                <p>Клиника Ofiyat med начала свою деятельность с 1 октября 2022 года. В клинике Ofiyat Med работают
                  более 20 врачей с открытой квалификацией, и на сегодняшний день эти квалифицированные врачи выполнили
                  более 1000 успешных операций.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer.ejs")%>
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/waypoints/jquery-waypoints.min.js"></script>
      <script src="/vendor/bootstrap/bootstrap.min.js"></script>
      <script src="/vendor/wow/wow.js"></script>
      <script src="/vendor/jquery-counterup/jquery-counterup.min.js"></script>
      <script src="/vendor/venobox/venobox.min.js"></script>
      <script src="/vendor/owl-carousel/owl-carousel.min.js"></script>
      <script src="/js/main.js"></script>
</body>

</html>
<style>
  img {
    max-width: 100%;
    height: auto;
  }
</style>