<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Ofiyat Med - Специалист ЛОР</title>
  <meta name="description" content="Ofiyat Med - Специалист ЛОР">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/vendor/animate/animate.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/owl-carousel/owl-carousel.min.css">
  <link rel="stylesheet" href="/vendor/venobox/venobox.css">
  <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
  <div class="preloader"></div>
  <button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-level-up-alt"></i>
  </button>

  <%- include("../partials/header.ejs")%>
    <div class="breadcrumbs-title-area">
      <div class="container">
        <div class="breadcrumbs-title-content wow animate__animated animate__fadeInUp">
          <h2>Специалист ЛОР</h2>
          <ul>
            <li><a href="/ru">Главная страница</a></li>
            <li>Специалист ЛОР</li>
          </ul>
        </div>
      </div>
    </div>
    <section class="service-page detail pt-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 order-lg-0">
            <div class="left-part">
              <div class="image">
                <img src="/images/gallery/help1.jpg" alt="Service">
              </div>
              <div class="text">
                <h5>Специалист По Уху</h5>
                <p>Специалист по уху, также известный как отоларинголог или ЛОР (врач уха, носа и горла), является
                  медицинским работником, специализирующимся на диагностике и лечении заболеваний и расстройств,
                  связанных с ушами, а также носом и горлом. Эти специалисты играют решающую роль в области
                  здравоохранения и сосредоточены на различных аспектах здоровья ушей.</p>
                <div class="img">
                  <img src="/images/gallery/3.jpg" alt="Service" width="250">
                </div>
                <p>Специалисты по уху обучены решать широкий спектр проблем, связанных с ухом, таких как потеря слуха,
                  ушные инфекции, шум в ушах (шум в ушах), дисбаланс и структурные аномалии уха. Они используют
                  различные диагностические инструменты, такие как аудиометрические тесты и отоскопия, для оценки
                  здоровья и функции ушей.</p>
                <p>Помимо диагностических навыков, специалисты по уху обладают квалификацией для оказания лечения и
                  вмешательства. Они могут порекомендовать слуховые аппараты людям с потерей слуха, провести операции по
                  исправлению деформации уха или удалению опухолей, а также предоставить медицинское или хирургическое
                  лечение хронических ушных инфекций.</p>
                <p>Кроме того, специалисты по уху часто сотрудничают с другими специалистами в области здравоохранения,
                  такими как аудиологи и логопеды, для оказания всесторонней помощи пациентам с проблемами уха. Их опыт
                  вносит значительный вклад в улучшение качества жизни тех, кто имеет дело с проблемами уха, позволяя
                  людям лучше слышать, сохранять равновесие и вести более здоровый образ жизни.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 order-lg-1">
            <div class="right-part">
              <div class="item">
                <div class="title">
                  <h5>Все Услуги</h5>
                </div>
                <ul>
                  <li>
                    <p>Невролог</p>
                  </li>
                  <li>
                    <p>Терапевт</p>
                  </li>
                  <li>
                    <p>Нефролог</p>
                  </li>
                  <li>
                    <p>Кардиолог</p>
                  </li>
                  <li>
                    <p>Травматолог</p>
                  </li>
                  <li>
                    <p>ЛОР</p>
                  </li>
                </ul>
              </div>
              <div class="item hours opening-hours">
                <div class="title">
                  <h5>Рабочее время</h5>
                </div>
                <ul>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Понедельник-Пятница</p>
                    <p>24/7</p>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Суббота</p>
                    <p>24/7</p>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Воскресенье</p>
                    <p>24/7</p>
                  </li>
                </ul>
                <a href="/ru/contact" class="button-style1">Запись На Прием<i class="fas fa-arrow-circle-right"></i></a>
              </div>
              <div class="item">
                <div class="title">
                  <h5>Фотографии</h5>
                </div>
                <div class="img">
                  <img src="/images/gallery/004.jpg" alt="Service">
                </div>
              </div>
              <div class="item">
                <div class="title">
                  <h5>О нас</h5>
                </div>
                <p>Клиника Ofiyat med начала свою деятельность с 1 октября 2022 года. В клинике Ofiyat Med работают
                  более 20 врачей с открытой квалификацией, и на сегодняшний день эти квалифицированные врачи выполнили
                  более 1000 успешных операций.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer.ejs")%>
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/waypoints/jquery-waypoints.min.js"></script>
      <script src="/vendor/bootstrap/bootstrap.min.js"></script>
      <script src="/vendor/wow/wow.js"></script>
      <script src="/vendor/jquery-counterup/jquery-counterup.min.js"></script>
      <script src="/vendor/venobox/venobox.min.js"></script>
      <script src="/vendor/owl-carousel/owl-carousel.min.js"></script>
      <script src="/js/main.js"></script>
</body>

</html>
<style>
  img {
    max-width: 100%;
    height: auto;
  }
</style>