<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Ofiyat Med - Уход за кожей</title>
  <meta name="description" content="Ofiyat Med - Уход за кожей">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/vendor/animate/animate.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/owl-carousel/owl-carousel.min.css">
  <link rel="stylesheet" href="/vendor/venobox/venobox.css">
  <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
  <div class="preloader"></div>
  <button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-level-up-alt"></i>
  </button>

  <%- include("../partials/header.ejs")%>
    <div class="breadcrumbs-title-area">
      <div class="container">
        <div class="breadcrumbs-title-content wow animate__animated animate__fadeInUp">
          <h2>Уход за кожей</h2>
          <ul>
            <li><a href="/ru">Главная страница</a></li>
            <li>Уход за кожей</li>
          </ul>
        </div>
      </div>
    </div>
    <section class="service-page detail pt-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 order-lg-0">
            <div class="left-part">
              <div class="image">
                <img src="/images/gallery/13.jpg" alt="Service">
              </div>
              <div class="text">
                <h5>Уход за кожей</h5>
                <p>Уход за кожей-это не просто тренд; это ежедневный ритуал, который помогает нам чувствовать себя
                  уверенно и комфортно в собственной коже. Это отражение заботы о себе и любви к себе, выходящей за
                  рамки возраста, пола и происхождения. Полотно нашего тела, наша кожа заслуживает внимания и заботы.
                </p>
                <div class="img">
                  <img src="/images/gallery/3.jpg" alt="Service" width="250">
                </div>
                <p>В мире, где загрязнение, стресс и время имеют свои последствия, правильный режим ухода за кожей
                  становится нашим щитом и убежищем. Речь идет не о тщеславии, а о сохранении и улучшении нашей
                  естественной красоты.</p>
                <p>Прелесть ухода за кожей заключается в ее простоте и универсальности. Будь то освежающее очищающее
                  средство для ежедневной стирки, увлажняющий крем для восполнения потерянной влаги или солнцезащитный
                  крем для защиты от вредных ультрафиолетовых лучей, каждый шаг в рутине ухода за кожей имеет свою
                  ценность.</p>
                <p>Речь идет о принятии несовершенств и праздновании уникальности, понимании того, что каждый тип кожи
                  по-своему индивидуален и красив. Уход за кожей-это путешествие к самопознанию, приверженность
                  здоровому образу жизни и праздник невероятного тела, которое окружает нас защитными объятиями.</p>
                <p>Итак, давайте дорожим своей кожей и завещаем каждый день заботиться о себе, потому что, когда мы
                  заботимся о своей коже, мы заботимся о собственном благополучии и уверенности. Уход за кожей-это
                  больше, чем обычно; это залог любви к себе, недостаткам и всему остальному.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 order-lg-1">
            <div class="right-part">
              <div class="item">
                <div class="title">
                  <h5>Все Услуги</h5>
                </div>
                <ul>
                  <li>
                    <p>Невролог</p>
                  </li>
                  <li>
                    <p>Терапевт</p>
                  </li>
                  <li>
                    <p>Нефролог</p>
                  </li>
                  <li>
                    <p>Кардиолог</p>
                  </li>
                  <li>
                    <p>Травматолог</p>
                  </li>
                  <li>
                    <p>ЛОР</p>
                  </li>
                </ul>
              </div>
              <div class="item hours opening-hours">
                <div class="title">
                  <h5>Рабочее время</h5>
                </div>
                <ul>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Понедельник-Пятница</p>
                    <p>00:00 - 23:59</p>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Суббота</p>
                    <p>00:00 - 23:59</p>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Воскресенье</p>
                    <p>00:00 - 23:59</p>
                  </li>
                </ul>
                <a href="/ru/contact" class="button-style1">Запись На Прием<i class="fas fa-arrow-circle-right"></i></a>
              </div>
              <div class="item">
                <div class="title">
                  <h5>Фотографии</h5>
                </div>
                <div class="img">
                  <img src="/images/gallery/2.jpg" alt="Service">
                </div>
              </div>
              <div class="item">
                <div class="title">
                  <h5>О нас</h5>
                </div>
                <p>Клиника Ofiyat med начала свою деятельность с 1 октября 2022 года. В клинике Ofiyat Med работают
                  более 20 врачей с открытой квалификацией, и на сегодняшний день эти квалифицированные врачи выполнили
                  более 1000 успешных операций.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer.ejs")%>
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/waypoints/jquery-waypoints.min.js"></script>
      <script src="/vendor/bootstrap/bootstrap.min.js"></script>
      <script src="/vendor/wow/wow.js"></script>
      <script src="/vendor/jquery-counterup/jquery-counterup.min.js"></script>
      <script src="/vendor/venobox/venobox.min.js"></script>
      <script src="/vendor/owl-carousel/owl-carousel.min.js"></script>
      <script src="/js/main.js"></script>
</body>

</html>
<style>
  img {
    max-width: 100%;
    height: auto;
  }
</style>