<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Ofiyat Med - Поливитамины</title>
  <meta name="description" content="Ofiyat Med - Поливитамины">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/vendor/animate/animate.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/owl-carousel/owl-carousel.min.css">
  <link rel="stylesheet" href="/vendor/venobox/venobox.css">
  <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
  <div class="preloader"></div>
  <button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-level-up-alt"></i>
  </button>

  <%- include("../partials/header.ejs")%>
    <div class="breadcrumbs-title-area">
      <div class="container">
        <div class="breadcrumbs-title-content wow animate__animated animate__fadeInUp">
          <h2>Поливитамины</h2>
          <ul>
            <li><a href="/ru">Главная страница</a></li>
            <li>Поливитамины</li>
          </ul>
        </div>
      </div>
    </div>
    <section class="service-page detail pt-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 order-lg-0">
            <div class="left-part">
              <div class="image">
                <img src="/images/gallery/11.jpg" alt="Service">
              </div>
              <div class="text">
                <h5>Поливитамины</h5>
                <p>В современном быстро меняющемся мире поддерживать сбалансированную диету может быть непросто. Здесь
                  поливитамины служат ценным союзником в нашем стремлении к хорошему здоровью. Эти удобные добавки
                  содержат широкий спектр важных витаминов и минералов, необходимых нашему организму для оптимального
                  функционирования.</p>
                <div class="img">
                  <img src="/images/gallery/5.jpg" alt="Service" width="250">
                </div>
                <p>Поливитамины подобны подстраховочной сетке для наших потребностей в питании, которая гарантирует, что
                  мы не будем лишены жизненно важных питательных веществ, особенно если наш рацион настолько
                  разнообразен, насколько это необходимо. Они заполняют пробелы, улучшают общее самочувствие и защищают
                  нашу иммунную систему.</p>
                <p>Однако важно помнить, что поливитамины не заменяют здоровую диету. Они должны дополнять, а не питать
                  привычки в еде. Хотя они приносят много пользы, они не могут воспроизвести синергию питательных
                  веществ, содержащихся в цельных продуктах.</p>
                <p>Индивидуальные добавки могут быть более подходящими для людей с определенными недостатками или
                  диетическими ограничениями. Всегда консультируйтесь со своим врачом перед началом любого режима приема
                  добавок, чтобы убедиться, что вы принимаете правильную комбинацию и дозировку.</p>
                <p>Подводя итог, можно сказать, что поливитамины в сочетании с разумной и сбалансированной диетой могут
                  сыграть ценную роль в поддержании нашего здоровья. Они обеспечивают удобный способ защитить наше тело
                  от пробелов в питании и помогают нам процветать в нашей современной, часто беспокойной жизни.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 order-lg-1">
            <div class="right-part">
              <div class="item">
                <div class="title">
                  <h5>Все Услуги</h5>
                </div>
                <ul>
                  <li>
                    <p>Невролог</p>
                  </li>
                  <li>
                    <p>Терапевт</p>
                  </li>
                  <li>
                    <p>Нефролог</p>
                  </li>
                  <li>
                    <p>Кардиолог</p>
                  </li>
                  <li>
                    <p>Травматолог</p>
                  </li>
                  <li>
                    <p>ЛОР</p>
                  </li>
                </ul>
              </div>
              <div class="item hours opening-hours">
                <div class="title">
                  <h5>Рабочее время</h5>
                </div>
                <ul>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Понедельник-Пятница</p>
                    <p>00:00 - 23:59</p>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Суббота</p>
                    <p>00:00 - 23:59</p>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Воскресенье</p>
                    <p>00:00 - 23:59</p>
                  </li>
                </ul>
                <a href="/ru/contact" class="button-style1">Запись На Прием<i class="fas fa-arrow-circle-right"></i></a>
              </div>
              <div class="item">
                <div class="title">
                  <h5>Фотографии</h5>
                </div>
                <div class="img">
                  <img src="/images/gallery/005.png" alt="Service">
                </div>
              </div>
              <div class="item">
                <div class="title">
                  <h5>О нас</h5>
                </div>
                <p>Клиника Ofiyat med начала свою деятельность с 1 октября 2022 года. В клинике Ofiyat Med работают
                  более 20 врачей с открытой квалификацией, и на сегодняшний день эти квалифицированные врачи выполнили
                  более 1000 успешных операций.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer.ejs")%>
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/waypoints/jquery-waypoints.min.js"></script>
      <script src="/vendor/bootstrap/bootstrap.min.js"></script>
      <script src="/vendor/wow/wow.js"></script>
      <script src="/vendor/jquery-counterup/jquery-counterup.min.js"></script>
      <script src="/vendor/venobox/venobox.min.js"></script>
      <script src="/vendor/owl-carousel/owl-carousel.min.js"></script>
      <script src="/js/main.js"></script>
</body>

</html>
<style>
  img {
    max-width: 100%;
    height: auto;
  }
</style>