<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Ofiyat Med - Лекарства</title>
  <meta name="description" content="Ofiyat Med - Лекарства">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/vendor/animate/animate.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/owl-carousel/owl-carousel.min.css">
  <link rel="stylesheet" href="/vendor/venobox/venobox.css">
  <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
  <div class="preloader"></div>
  <button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-level-up-alt"></i>
  </button>

  <%- include("../partials/header.ejs")%>
    <div class="breadcrumbs-title-area">
      <div class="container">
        <div class="breadcrumbs-title-content wow animate__animated animate__fadeInUp">
          <h2>Лекарства</h2>
          <ul>
            <li><a href="/ru">Главная страница</a></li>
            <li>Лекарства</li>
          </ul>
        </div>
      </div>
    </div>
    <section class="service-page detail pt-120">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 order-lg-0">
            <div class="left-part">
              <div class="image">
                <img src="/images/gallery/11.jpg" alt="Service">
              </div>
              <div class="text">
                <h5>Лекарства</h5>
                <p>Лекарства-это современные чудеса, которые изменили индустрию здравоохранения. Эти удивительные
                  сочетания науки и инноваций-наши союзники в борьбе с болезнями и страданиями. От простых
                  обезболивающих до сложных химиотерапевтических средств-лекарства бывают разных форм и служат разным
                  целям.</p>
                <div class="img">
                  <img src="/images/gallery/6.jpg" alt="Service" width="250">
                </div>
                <p>Лекарства могут облегчить симптомы, вылечить болезни и продлить жизнь. Они устраняют разрыв между
                  уязвимостью и устойчивостью и дают надежду на невзгоды. В современном мире они играют важную роль в
                  лечении хронических заболеваний и улучшении общего качества жизни.</p>
                <p>Однако с большой властью приходит большая ответственность. Неправильное или чрезмерное использование
                  лекарств может иметь негативные последствия и даже способствовать возникновению глобальной проблемы
                  устойчивости к антибиотикам. Важно использовать лекарство с осторожностью, следовать рекомендациям
                  врачей и соблюдать предписанные дозировки.</p>
                <p>Подводя итог, можно сказать, что лекарства свидетельствуют о человеческой изобретательности и нашей
                  приверженности лечению. Они произвели революцию в здравоохранении и продолжают это делать. Как
                  руководители нашего собственного благополучия, мы должны ценить и уважать эти чудеса и помнить, что их
                  эффективность зависит от ответственного использования.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 order-lg-1">
            <div class="right-part">
              <div class="item">
                <div class="title">
                  <h5>Все Услуги</h5>
                </div>
                <ul>
                  <li>
                    <p>Невролог</p>
                  </li>
                  <li>
                    <p>Терапевт</p>
                  </li>
                  <li>
                    <p>Нефролог</p>
                  </li>
                  <li>
                    <p>Кардиолог</p>
                  </li>
                  <li>
                    <p>Травматолог</p>
                  </li>
                  <li>
                    <p>ЛОР</p>
                  </li>
                </ul>
              </div>
              <div class="item hours opening-hours">
                <div class="title">
                  <h5>Рабочее время</h5>
                </div>
                <ul>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Понедельник-Пятница</p>
                    <p>24/7</p>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Суббота</p>
                    <p>24/7</p>
                  </li>
                  <li class="d-flex align-items-center justify-content-between">
                    <p>Воскресенье</p>
                    <p>24/7</p>
                  </li>
                </ul>
                <a href="/ru/contact" class="button-style1">Запись На Прием<i class="fas fa-arrow-circle-right"></i></a>
              </div>
              <div class="item">
                <div class="title">
                  <h5>Фотографии</h5>
                </div>
                <div class="img">
                  <img src="/images/gallery/006.png" alt="Service">
                </div>
              </div>
              <div class="item">
                <div class="title">
                  <h5>О нас</h5>
                </div>
                <p>Клиника Ofiyat med начала свою деятельность с 1 октября 2022 года. В клинике Ofiyat Med работают
                  более 20 врачей с открытой квалификацией, и на сегодняшний день эти квалифицированные врачи выполнили
                  более 1000 успешных операций.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("../partials/footer.ejs")%>
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/waypoints/jquery-waypoints.min.js"></script>
      <script src="/vendor/bootstrap/bootstrap.min.js"></script>
      <script src="/vendor/wow/wow.js"></script>
      <script src="/vendor/jquery-counterup/jquery-counterup.min.js"></script>
      <script src="/vendor/venobox/venobox.min.js"></script>
      <script src="/vendor/owl-carousel/owl-carousel.min.js"></script>
      <script src="/js/main.js"></script>
</body>

</html>
<style>
  img {
    max-width: 100%;
    height: auto;
  }
</style>